/**
 * SPDX-FileCopyrightText: 2023 sup39 <sms@sup39.dev>
 * SPDX-License-Identifier: MIT OR Apache-2.0
 */

:root {
  --bg: #fff;
  --fg: #000;
  --bg-stripe: #0001;
  --bg-red: #b00;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #282830;
    --fg: #f7f7f7;
    --bg-stripe: #fff1;
    --fg-link: #72e5db;
  }
}

table.list tr:nth-child(2n + 1) {
  background: var(--bg-stripe);
}

button {
  background: none;
  color: var(--fg);
  cursor: pointer;
  border-radius: 4px;
}
td > button {
  width: 100%;
}

table.list td {
  padding: 1px 0.3em;
  white-space: pre-line;
}
#managerList td:nth-child(1),
#managerList td:nth-child(5) {
  padding: 0 2px
}
#managerList tr.managee > td:nth-child(2) {
  padding-left: 1em
}

#fieldsViewer h3 {
  margin-block-start: 0;
  margin-block-end: 0.5em;
}
#fieldsViewer td:nth-child(1),
#fieldsViewer td:nth-child(3) {
  text-align: right;
}
#fieldsViewer td:nth-child(4) {
  display: none;
}
#fieldsViewer.showNotes td:nth-child(4) {
  display: unset;
}

.flex {
  display: flex;
  align-items: flex-start;
}
.flex > * {
  margin-right: 4px;
  margin-block-end: 1em;
}
body.wrap .flex {
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

main {
  visibility: hidden;
}
body.ready main {
  visibility: visible;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-variant-numeric: tabular-nums;
  font-family: "Consolas";
  font-size: 14px;
  padding: 4px;
}
body.error #msg {
  background: var(--bg-red);
}
h1 {
  margin-block-start: 0;
  margin-block-end: 0.5em;
}
a {
  color: var(--fg-link);
}

header {
  margin-block-end: 0.75em;
  padding-left: 4px;
}
section {
  margin-block-end: 0.5em;
}

details {
  border: solid 1px var(--fg);
  padding: 0.5em 1em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
details > summary {
  padding: 4px 0.5em;
  margin: -0.5em -1em -0.5em;
}
details[open] {
  padding-bottom: 0;
}
details[open] > summary {
  border-bottom: 1px solid;
  margin: -0.5em -1em 1em;
}
details p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
#license {
  width: 100%;
  max-width: 800px;
  height: 100px;
}
